In [ ]:
print("Welcome To OOP Lab")

Welcome To OOP Lab

In [ ]:
def oop():
  print("I am oop")
def Sum(a,b):
  return a+b

#main Function
print(Sum(5,6))
oop()

11
I am oop

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# my_slice = slice(2, 8, 2)
result = my_list[2:8:2] # start:stop:step
print(result)

[3, 5, 7]

## List,Tupple,Dictonary,Set

# List
*   Lists are ordered collections of elements.
*   Lists are mutable, meaning you can change their elements after creation.
*   Lists are defined using square brackets [].

In [ ]:
my_list = [1, 2, 3, 4, 5]
first_element = my_list[0] #Accessing Elements
my_list[2] = 10 #Modifying Elements
my_list.append(6) #Adding Elements
my_list.remove(3) #Removing Elements
sub_list = my_list[1:4] #Slicing

# Tupple
1.   Tuples are ordered collections of elements.
1.   Tuples are immutable, meaning you cannot change their elements after creation.
3.   Tuples are defined using parentheses ().

In [26]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)
# Access an element
first_element = my_tuple[0]
# Tuple unpacking
a, b, c, d, e = my_tuple
# Length of the tuple
length = len(my_tuple)
# Check for existence
exists = 3 in my_tuple
# Concatenate tuples
combined_tuple = my_tuple + (6, 7, 8)
# Repeat a tuple
repeated_tuple = my_tuple * 3
# Slice a tuple
sub_tuple = my_tuple[1:4]
# Find the index of an element
index = my_tuple.index(3)
# Count occurrences
count = my_tuple.count(4)
# Print the results
print("First element:", first_element)
print("Tuple unpacking:", a, b, c, d, e)
print("Length of the tuple:", length)
print("Is 3 in the tuple?", exists)
print("Concatenated tuple:", combined_tuple)
print("Repeated tuple:", repeated_tuple)
print("Sliced tuple:", sub_tuple)
print("Index of 3:", index)
print("Count of 4:", count)

First element: 1
Tuple unpacking: 1 2 3 4 5
Length of the tuple: 5
Is 3 in the tuple? True
Concatenated tuple: (1, 2, 3, 4, 5, 6, 7, 8)
Repeated tuple: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
Sliced tuple: (2, 3, 4)
Index of 3: 2
Count of 4: 1

# Dictonary
1.   Dictionaries are collections of key-value pairs.
2.   Dictionaries are unordered, and elements are accessed by keys rather than indices.
3.   Dictionary keys must be unique and immutable (strings, numbers, or tuples).
4.   Dictionaries are defined using curly braces {} or the dict() constructor.

In [27]:
# Create a dictionary named my_dict with two key-value pairs.
my_dict = {'name': 'Alice', 'age': 30}
# Access the 'name' key to retrieve the value and store it in the variable 'name'.
name = my_dict['name']
# Add a new key-value pair ('city': 'New York') to the dictionary.
my_dict['city'] = 'New York'
# Delete the 'age' key-value pair from the dictionary.
del my_dict['age']
# Check if the 'name' key is present in the dictionary and do something if it is.
if 'name' in my_dict:
    print(f"The 'name' key is present, and its value is '{my_dict['name']}'.")
# Iterate through the dictionary and print each key-value pair.
for key, value in my_dict.items():
    print(key, value)

The 'name' key is present, and its value is 'Alice'.
name Alice
city New York

# Set
*   Sets are unordered collections of unique elements.
*   Sets do not allow duplicate values.
*   Sets are defined using curly braces {} or the set() constructor.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6) #Adding Elements
my_set.remove(3) #Removing Elements
set1 = {1, 2, 3}
set2 = {3, 4, 5}
#Set Operations (Union, Intersection, Difference)
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
#Checking for Subset or Superset
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)

## Negative Indexing

In [ ]:
my_list = [10, 20, 30, 40, 50]
last_element = my_list[-1]        # Access the last element (50)
second_last_element = my_list[-2]  # Access the second-to-last element (40)
print("Last element:", last_element)
print("Second-to-last element:", second_last_element)
for i in range(len(my_list)-1,-1,-2):
  print(my_list[i],end=' ')

Last element: 50
Second-to-last element: 40
50 30 10

## String

In [28]:
# Creating a String
my_string = "Hello, World!"
# Concatenation
new_string = my_string + " How are you?"
# String Repetition
repeated_string = my_string * 3
# String Length
length = len(my_string)
# Accessing Characters
first_char = my_string[0]
# Slicing
sub_string = my_string[7:12]
# String Case Conversion
lowercase_string = my_string.lower()
uppercase_string = my_string.upper()
# String Splitting
words = my_string.split(",")
# String Stripping remove start and endl value (rstrip,lstrip)
stripped_string = "   Spaces before and after   ".strip()
# String Replace
replaced_string = my_string.replace("World", "Python")
# String Formatting
name = "Alice"
formatted_string = f"Hello, my name is {name}."
# Checking for Substrings
contains_substring = "World" in my_string
# String Joining
my_list = ["Hello", "World"]
joined_string = " ".join(my_list)
# String Index
index = my_string.index("World")
# String Count
count = my_string.count("l")
# Printing Results
print("Original String:", my_string)
print("Concatenated String:", new_string)
print("Repeated String:", repeated_string)
print("String Length:", length)
print("First Character:", first_char)
print("Sliced Substring:", sub_string)
print("Lowercase String:", lowercase_string)
print("Uppercase String:", uppercase_string)
print("Split String:", words)
print("Stripped String:", stripped_string)
print("Replaced String:", replaced_string)
print("Formatted String:", formatted_string)
print("Contains 'World'?", contains_substring)
print("Joined String:", joined_string)
print("Index of 'World':", index)
print("Count of 'l':", count)

Original String: Hello, World!
Concatenated String: Hello, World! How are you?
Repeated String: Hello, World!Hello, World!Hello, World!
String Length: 13
First Character: H
Sliced Substring: World
Lowercase String: hello, world!
Uppercase String: HELLO, WORLD!
Split String: ['Hello', ' World!']
Stripped String: Spaces before and after
Replaced String: Hello, Python!
Formatted String: Hello, my name is Alice.
Contains 'World'? True
Joined String: Hello World
Index of 'World': 7
Count of 'l': 3

In [ ]:
string = "Maruf"
s = string.replace('M', 'p').replace('a', '*').replace('r', 't').replace('u', 'k').replace('f', 'i')
print(f"{string} ===> {s}")

Maruf ===> p*tki

In [ ]:
st="Abroad"

In [ ]:
lst = [2,4,2,6,8,10,10]
# number = int(input())
# lst=[int(num) for num in number.split()]
# n = int(input())
# for i in range(0, n):
# 	ele = int(input())
# 	lst.append(ele)

In [ ]:
print(*lst)

2 4 2 6 8 10 10

In [ ]:
lst.count(2)

2

In [ ]:
lst.count(10)

2

In [ ]:
lst.append(10)

In [ ]:
print(*lst)

2 4 2 6 8 10 10 10

In [ ]:
lst.append((1,5))

In [ ]:
lst.extend([40,50])

In [ ]:
print(*lst)

1 2 3 4 5 6 7 8 9 10 40 50

In [ ]:
lst.insert(0,100)

In [ ]:
print(*lst)

100 2 4 2 6 8 10 10 10 (1, 5) 40 50

In [ ]:
lst[::-1]

[50, 40, (1, 5), 10, 10, 10, 8, 6, 2, 4, 2, 100]

In [ ]:
lst.pop(9)

(1, 5)

In [ ]:
print(*lst)

100 2 4 2 6 8 10 10 10 40 50

In [ ]:
len(lst)

11

In [ ]:
class Stack:
    def __init__(self):
        self.items = []

    def is_empty(self):
        return len(self.items) == 0

    def push(self, item):
        self.items.append(item)

    def pop(self):
        if not self.is_empty():
            return self.items.pop()
        else:
            print("Stack is empty. Cannot pop.")
            return None

    def peek(self):
        if not self.is_empty():
            return self.items[-1]
        else:
            print("Stack is empty. Cannot peek.")
            return None

    def size(self):
        return len(self.items)


# Example usage:
stack = Stack()

stack.push(5)
stack.push(10)
stack.push(15)

print("Current stack:", stack.items)

print("Peek:", stack.peek())

print("Pop:", stack.pop())
print("Pop:", stack.pop())

print("Current stack:", stack.items)

print("Size of stack:", stack.size())

Current stack: [5, 10, 15]
Peek: 15
Pop: 15
Pop: 10
Current stack: [5]
Size of stack: 1

In [ ]:
s=[]
s.append(6)
s.append(7)
s.append(8)

In [ ]:
s

[6, 7, 8]

In [ ]:
print(*s)

6 7 8

In [ ]:
s[-1]

8

In [ ]:
s.pop()
if not s:
  s[-1]

In [ ]:
s

[6, 7]

In [29]:
score=[10,20,30,40,50]
new_s=[]
for x in score:
  new_s.append(x*2)
print(new_s)

[20, 40, 60, 80, 100]

In [30]:
s=[x*2 for x in score]

In [31]:
print(*s)

20 40 60 80 100

In [32]:
lst=[i**2 for i in range(1,10,2)]

In [33]:
lst

[1, 9, 25, 49, 81]

In [35]:
import sys
sys.getsizeof(lst)

120

In [ ]:
def generator(n):
  for i in range (1,n+1):
    yield i

lst=list(generator(5))
print(*lst)

1 2 3 4 5

In [ ]:
import sys

In [ ]:
sys.getsizeof(lst)

120

## Dictonary

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 1999
}

print("{\n" + ",\n".join(f'  "{key}": "{value}"' if isinstance(value, str) else f'  "{key}": {value}' for key, value in thisdict.items()) + "\n}")

{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1999
}

In [ ]:
print(thisdict['brand'])

Ford

In [ ]:
len(thisdict)

3

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "Add": [1999,"hi"],
  "hi" : (5,5),
  "set": {2,3}
}

In [ ]:
thisdict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'Add': [1999, 'hi'],
 'hi': (5, 5),
 'set': {2, 3}}

In [ ]:
dic=dict(name='s',age=23,color='white')
dic

{'name': 's', 'age': 23, 'color': 'white'}

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x)

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
car.values()

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [ ]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in car:
  print("Yes")

Yes

In [ ]:
type(car.keys())

dict_keys

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"year": 2020})

In [ ]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2018

In [ ]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "red"})
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del car['brand']
print(car)

{'model': 'Mustang', 'year': 1964}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
for x in car:
  print(x)

brand
model
year

In [ ]:
for x in car:
  print(x ,'=>' ,car[x])

brand => Ford
model => Mustang
year => 1964

In [ ]:
for x, y in car.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [ ]:
mydict=car.copy()
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
rittikdict=dict(mydict)
rittikdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
c1 = {
  "name" : "ford",
  "year" : 2004
}
c2 = {
  "name" : "axio",
  "year" : 2007
}
c3 = {
  "name" : "mazda",
  "year" : 2011
}

mycar = {
  "c1" : c1,
  "c2" : c2,
  "c3" : c3
}

In [ ]:
mycar

{'c1': {'name': 'ford', 'year': 2004},
 'c2': {'name': 'axio', 'year': 2007},
 'c3': {'name': 'mazda', 'year': 2011}}

In [ ]:
print(mycar["c2"]["name"])

axio

In [ ]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [ ]:
print(car["model"])

Mustang

In [ ]:

my_dict = {}

n = int(input())

for _ in range(n):
    key = input("key: ")
    value = input("value: ")
    my_dict[key] = value

print(my_dict)

In [ ]:

my_dict = {}

input_string = input("Enter key-value pairs separated by commas: ")
pairs = input_string.split(',')
for pair in pairs:
    key, value = pair.strip().split(' ')
    my_dict[key] = value

print(my_dict)

In [ ]:

my_dict = {}

while True:
    key = input()
    if key == '1':
        break
    value = input("savalue: ")
    my_dict[key] = value

print(my_dict)

a
value: r
b
value: hi
1
{'a': 'r', 'b': 'hi'}

In [ ]:
input_string = input("Enter key-value pairs separated by commas: ")
my_dict = {k.strip(): v.strip() for k, v in (item.split(':') for item in input_string.split(','))}

print(my_dict)

In [36]:
nested_dict = {}
num_categories = int(input("Enter the number of categories: "))

for _ in range(num_categories):
    category = input("Enter category name: ")
    nested_dict[category] = {}
    num_items = int(input(f"Enter the number of items in {category}: "))

    for _ in range(num_items):
        item = input("Enter item name: ")
        price = float(input("Enter item price: "))
        nested_dict[category][item] = price

print(nested_dict)

ValueError: invalid literal for int() with base 10: 'Poem'

In [45]:
t=[7,5,5,1,6,7,8,7,6]
d={}
for i,v in enumerate(t):
  if t.count(v)==1:
    print(f"Index: {i} Value: {v}")
# for v in t:
#   if not v in d:
#     d[v]=1
#     print(d[v])
#   else:
#     d[v]+=1
#     print(d[v])
# print(d)
# for k in d:
#   if d[k]==1:
#     print(k,end=' ')

Index: 3 Value: 1
Index: 6 Value: 8

In [ ]:
myset = {"apple", "banana", "cherry"}

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'cherry', 'apple', 'mango', 'pineapple', 'papaya'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'banana', 'cherry', 'apple', 'kiwi'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'cherry', 'microsoft'}

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [ ]:
def c(word):
    letter_c = {}
    for letter in word:
        if letter in letter_c:
            letter_c[letter] += 1
        else:
            letter_c[letter] = 1
    return letter_c
word = input("Enter a String or Word:")
result = c(word)
result
# for letter, count in result.items():
#     print("{}: {}".format(letter, count))

Enter a String or Word:Sarbajit

{'S': 1, 'a': 2, 'r': 1, 'b': 1, 'j': 1, 'i': 1, 't': 1}

In [9]:
word = input().strip()
c= set()  
for v in word:
    if v not in c:
        c.add(v)
        count = word.count(v)
        print("{{v}:{count}}")
# word = input().strip()
# # Use a set to track already counted characters
# counted_chars = set()

# for character in word:
#     if character not in counted_chars:
#         counted_chars.add(character)
#         count = word.count(character)
#         print(f"{character} = {count}")

b:1
a:1
p:2
y:1

In [ ]:
def encode(name):
    letter_values = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11,
                     'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21,
                     'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26}
    encoded_name = ''
    for c in name:
        value = letter_values.get(c.upper())
        if value % 2 == 0:
            encoded_name += c + '*'
        else:
            encoded_name += c
    return encoded_name

name = input()
encoded_name = encode(name)
print(encoded_name.upper())

fahim
6
1
8
9
13
F*AH*IM

In [74]:
def encode(name):
    encoded_name = ''
    for c in name.upper():  # Convert the name to uppercase at the start
        value = ord(c)
        if value % 2 == 0:  # Check if the Unicode code point value is even
            encoded_name += c + '*'
        else:
            encoded_name += c
    return encoded_name

name = input("Enter the name to encode: ")
encoded_name = encode(name)
print(encoded_name)

F*AH*IM

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon', 'mango']

In [ ]:
if "banana" in thislist:
  print("yes")

yes

In [ ]:
thislist[1]="jamrul"
thislist

['apple', 'jamrul', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:4] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
lst=[]
n=int(input())
for _ in range(n):
  lst.append(input())
print(' '.join(lst))

4
Sarbajit Paul Bappy
Bikash Chandra Paul
Lila Rani Paul
Khulna, Bangladesh
Sarbajit Paul Bappy Bikash Chandra Paul Lila Rani Paul Khulna, Bangladesh

In [3]:
def input_single_person_info(template):
    person_info = template.copy()  # Use a copy of the template for each person
    print("\nEnter information for the person. Press enter directly to skip any detail.")
    for key in template.keys():
        value = input(f"Enter Your {key.capitalize()}").strip()
        if value:  # Only update if the user provided a value
            person_info[key] = value
        else:
            person_info[key] = "None"
    return person_info

def input_all_persons_info():
    persons = []  # List to store all persons' information
    n = int(input("Enter the number of persons: "))

    # Define a template for the person's information
    person_info_template = {
        'name': '',
        'father name': '',
        'mother name': '',
        'address': '',
    }

    for _ in range(n):
        person_info = input_single_person_info(person_info_template)
        persons.append(person_info)

    return persons

# Function to display the collected information
def display_persons_info(persons):
    for person in persons:
        print("\nPerson Information:")
        for key, value in person.items():
            print(f"{key.capitalize()}: {value.capitalize()}")
        print("-" * 20)  # Just a separator for readability

persons_info = input_all_persons_info()
display_persons_info(persons_info)

Enter information for the person. Press enter directly to skip any detail.

Person Information:
Name: Sarbajit
Father name: Bikash
Mother name: Lila rani
Address: None
--------------------

In [57]:
def data_i(person):
    p = person.copy()
    for i in p.keys():
        v = input().strip()
        if v:
            p[i]=v
        else:
            p[i]="none"
    return p
def store():
    person = {
    'name':'',
    'address':'',
    }
    info = []
    n = int(input("Enter the number of persons: "))
    for _ in range(n):
        person_info = data_i(person)
        info.append(person_info)
    return info
def display(info):
    for i in info:
        for k,v in i.items():
            print(f"{k}:{v}")

p_info = store()
display(p_info)

name:s
address:k
name:d
address:f

In [4]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [14]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thisset={1,2,3,4}
thistuple=(('a',1),('b',2))
thisdict ={"brand": "Ford","model": "Mustang","year": 1964}
for key,value in thisdict.items():
    thislist.append([key, value])
thislist.extend(thistuple)
thislist.extend(thisset)
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', ['brand', 'Ford'], ['model', 'Mustang'], ['year', 1964], ('a', 1), ('b', 2), 1, 2, 3, 4, 'mango', 'pineapple', 'papaya']

In [15]:
thislist.remove("banana")
print(thislist)

['apple', 'cherry', ['brand', 'Ford'], ['model', 'Mustang'], ['year', 1964], ('a', 1), ('b', 2), 1, 2, 3, 4, 'mango', 'pineapple', 'papaya']

In [16]:
thislist.remove("banana")
print(thislist)

ValueError: list.remove(x): x not in list

In [20]:
thislist.pop()
print(thislist)

['apple', ['brand', 'Ford'], ['year', 1964], ('a', 1), ('b', 2), 1, 2, 3, 4, 'mango']

In [21]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [25]:
st = ["apple", "banana", "cherry"]
del st
print(st)

NameError: name 'st' is not defined

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [27]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [28]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [30]:
thisli = ["apple", "banana", "cherry"]
[print(x) for x in thisli]

apple
banana
cherry

[None, None, None]

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [34]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "k" in x or "a" in x]
print(newlist)

['apple', 'banana', 'kiwi', 'mango']

In [35]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [36]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [37]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [38]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [39]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [40]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [41]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [43]:
fruits.count('apple')

1

In [45]:
thisset = {"apple", "banana", "cherry", True, 1, 2,False,0}

print(thisset)

{False, True, 2, 'cherry', 'banana', 'apple'}

In [46]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'papaya', 'mango', 'banana', 'apple'}

In [52]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
my_tuple=('a','b')
my_dict={"brand": "Ford","model": "Mustang","year": 1964}
for key,value in my_dict.items():
    thisset.update((key,value))
thisset.update(my_tuple)
thisset.update(mylist)
print(thisset)

{'brand', 'b', 'banana', 'model', 1964, 'kiwi', 'cherry', 'Ford', 'Mustang', 'year', 'orange', 'apple', 'a'}

In [54]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

In [57]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [58]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [59]:
# Example
# Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [63]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [64]:
b = "Hello, World!"
print(b[2:5])

llo

In [65]:
# The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [66]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [67]:
# The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [68]:
# Use the format() method to insert numbers into strings:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [71]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [72]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [73]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [16]:
A = [1,2,3]
B = [4,5,6]
C = [7,8,9]
lst = [A,B,C]
print(lst)
sum = 0 
k=1
for i in lst:
    for j in i:
        sum+=j
    print(sum)
    sum = 0 
    k+=1
ls = list(zip(A,B,C))
print(ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6
15
24
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [24]:
for i,row in enumerate(ls):
    for j,col in enumerate(row):
        print(f'ls[{i}][{j}] = {col}',end= ' ')
    print()

ls[0][0] = 1 ls[0][1] = 4 ls[0][2] = 7
ls[1][0] = 2 ls[1][1] = 5 ls[1][2] = 8
ls[2][0] = 3 ls[2][1] = 6 ls[2][2] = 9

In [5]:
str = input("Sentence: ")
vowels = ['a', 'e', 'i', 'o', 'u']
count = 0 
for char in str.lower():
    if char not in vowels:
        count += 1
print("Number of vowels:", count)

Number of vowels: 18

In [8]:
numbers = [1,2,3]
numbers.extend([2])
numbers

[1, 2, 3, 2]

In [19]:
p = input()
c1 = 0
c2 = 0
c3 = 0
c4 = 0

if not (6 < len(p) < 16):
    print("No")
else:
    for ch in p:
        if ch.islower():
            c1 += 1
        elif ch.isupper():
            c2 += 1
        elif ch.isdigit():
            c3 += 1
        elif ch in ('@', '#', '$'):
            c4 += 1

    if c1 > 0 and c2 > 0 and c3 > 0 and c4 > 0:
        print("Yes")
    else:
        print("No")

No

In [17]:
n = 4
if 6 < n < 16:
    print("Yes")
else:
    print("No")

No